h1,h2,p {
	color: red;
	font-size: 40px;
	background-color: #fff;
}

.text-center {
	text-align: center;
}

#button {
	font-size: 30px;
}

#rounded-img {
	border-radius: 30px;
	display: block;
  	margin: 0 auto;
}

table,td,th {
	border: 2px dashed #A0F412;
	background-color: #fff;
}

body {
	background-image: url("images/utcn.jpg");
}

#borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url("images/cat.jpeg") 30 round;
}

ol {
	list-style-type: lower-roman;
	background-color: #A0F412;
}